<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <style>
        .just-padding {
            padding: 15px;
        }

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 30px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 45px;
        }
    </style>

</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
    <div class="card list-group list-group-root well" style="margin-top: 20px">

        {% for g in sections %}
        <a href="#{{ g }}" class="list-group-item">{{ g.split('/')[-1][:-5] }}</a>
        {% endfor %}


    </div>
</div>

<div class="col-lg-8">

    <div style="margin-top: 50px"></div>
    <div class="alert alert-info" role="alert" style="margin: 0 50px 50px 50px;">
        Ce Dashboard a pour but d'éclairer le citoyen sur la réalité du Covid en France.
        Toutes les données proviennent d'institutions gouvernementales tels l'INSEE ou la DRESS.
        Les données ainsi que le code analysant ces données sont disponibles en open source <a
            href="https://gitlab.com/fjolain/dashboard-covid">ici</a>.
        Tous les graphiques sont licences libres CC-BY.

    </div>

    <h1>{{ title }}</h1>

    {% for g in sections %}
    <section id="{{ g }}">
        {% include "export/%s" % g %}
    </section>
    {% endfor %}
</div>

    </div>
</div>


</body>
</html>