<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <style>
        .just-padding {
            padding: 15px;
        }

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 30px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 45px;
        }
    </style>

</head>
<body>

{% include "navbar.html" %}

<div style="margin-left: 480px">

    <div style="margin-top: 50px"></div>
    <div class="alert alert-info" role="alert" style="margin: 0 50px 50px 50px;">
        Ce Dashboard a pour but d'éclairer le citoyen sur la réalité du Covid en France.
        Toutes les données proviennent d'institutions gouvernementales tels l'INSEE ou la DRESS.
        Les données ainsi que le code analysant ces données sont disponibles en open source <a
            href="https://gitlab.com/fjolain/dashboard-covid">ici</a>.
        Tous les graphiques sont licences libres CC-BY.

    </div>

    <section id="sommaire" style="margin-top: 30px"></section>
    <h2>Sommaire</h2>
   <div class="list-group list-group-root well">

        {% for section, graphics in sections.items() %}
        <a href="/{{ section }}" class="list-group-item">{{ section }}</a>
        <div class="list-group">
            {% for g in graphics %}
            <a href="/{{ section }}#{{ g }}" class="list-group-item">{{ g.split('/')[-1][:-5] }}</a>
            {% endfor %}
        </div>
        {% endfor %}

    </div>

    <section id="vidéos" style="margin-top: 30px"></section>
    <h2>Vidéos Codable.tv sur le Covid</h2>
    <div style="margin-top: 10px"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l6n08Qt2vQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div style="margin-top: 10px"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/M_W5U8KzTzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div style="margin-top: 10px"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/drPwMgenr5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <section id="historique" style="margin-top: 30px"></section>
    <h2>Historique</h2>

    {% for change in changes %}
    <h4>v{{loop.index0 + 1}} - {{ change.date }} </h4>
    <ul>
    {% for item in change.items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

</div>

</body>
</html>