<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Covid Dashboard<code style="font-size: x-small"> v{{ changes|length }}</code></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://www.codable.tv">by codable.tv</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hospitalisations">Hospitalisation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/réanimations">Réanimation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/décès">Décès</a>
            </li>
      </ul>
    </div>
  </div>
</nav>